.header {
    background-color: #00FF00;
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: center;
    display: block;
    color: #00FF00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    width: 48%;
}

.image {
    text-align: center;
    max-width: 48%;
    max-height: 48%;
}

.footer {
    background-color: #00FF00;
    text-align: center;
    padding: 10px;
}