.header {
    background: linear-gradient(to bottom, #33cc33 0%, #ff6600 100%);
    color: #0000FF;
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #FFFFFF;
}
.topnav a {
    float: center;
    display: block;
    color: #0000FF;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    padding-left: 0%;
    padding-right: 0%;
    width: 48%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

.footer {
    background-color: #00FF00;
    text-align: center;
    padding: 10px;
}