.header {
    background-color: #a1a1a1;
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #511;
}

.topnav a {
    float: left;
    display: block;
    color: #b2b2b2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ffd;
    color: black;
}

.column {
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

.column.side {
    width: 50%;
}


.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}