.Red {
    background-color: #e53232;
    text-align: center;
    padding: 20px;
}

.Black {
    background-color: #000000;
    overflow: hidden;
    
}
.Black {
    float: center;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
}