.Red {
    background-color: #e53232;
    text-align: center;
    padding: 20px;
}

.Black {
    background-color: #000000;
    text-align: center;
    overflow: hidden;
}
.Black a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}