.Red {
    background-color: #e53232;
    text-align: center;
    padding: 10px;
}

.Black {
    overflow: hidden;
    background-color: #000000;
}
.Black a{
    float: center;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.Black a:hover {
    background-color: #ddd;
    color: #000000;
}