.headers {
    background-color: #20ED3F;
    text-align: center;
    padding:10px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.column.side{
    width: 50%;
}

.bottom {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
