.header {
    background-color: #56ff30;
    text-align: center;
    padding:15px;
}
.topnav {
    overflow: hidden;
    background-color: #383737;
}

.topnav a {
    float: left;
    display: block;
    color: #56ff30;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color:black;
}

.column{
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

.column.side{
    width: %;
}

.footer {
    background-color: #56ff30;
    text-align: center;
    padding: 10px;
}
