.header {
  background-color: #E0C405;
  text-align: center;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #404040;
}

.topnav a {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #E5E5E5;
  color: black;
}

.column {
  width: 23%;
  padding-left: 5%;
  padding-right: 5%;
}

.column.left {
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

.column.center {
  float: right;
  padding-left: 5%;
  padding-right: 5%;
}

.column.right {
  float: right;
  padding-left: 5%;
  padding-right: 5%;
}

.welcome {
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
}

.footer {
  background-color: #F1F1F1;
  text-align: left;
  padding: 10px;
}